<html>
    <head>
        <title>
                Index Ujian Praktikum ILHAMMUHAMMADARIQ_1174087
        </title>
    </head>
<body>
    <h1>Welcome!_ILHAMMUHAMMADARIQ_1174087</h1>
    <h2>Go to <a href="{% url 'user' %}">users</a> to see the list of users information!</h2>
</body>
</html>