<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <h2>{{ judul }}</h2>
    <h3>Go to <a href="{% url 'users_1174076' %}" style="color:red">User </a> to see list of user</h3>
</body>

</html>