<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Index Ujian Praktikum Muhammad Abdul Gani Wijaya_1174071</title>
</head>
<body>
	<h1>Welcome!_MuhammadAbdulGaniWijaya_1174071</h1>
	<h3>
		
		<h2>Go to <a href="{% url 'users_1174071' %}">Users</a> to see the list of user information!</h2>

	</h3>

</body>
</html>