
<!DOCTYPE html>
<html>
    <head>
        <title>Users Ujian Praktikum KakaKamaludin_1174067</title>
    </head>
    <body>
        <h1>Here are your users: KakaKamaludin_1174067</h1>
        
        {% for video in allvideos %}
        <p>{{ video.id  }}. Users Info </p>
            <ul>
                <li>First Name : {{ video.first_name }}</li>
                <li>Last Name :{{ video.last_name }}</li>
                <li>Email : {{ video.Email }}</li>
            </ul>        
        {% endfor %}
    </body>
</html>