<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
	<title>Index ujian praktikum_AdventNopeleSihite_1174089</title>
	</head>
		<body>
			<h1> Welcome!_AdventNopeleSihite_1174089 </h1>
			<h2> Go to/Users to see the list of user information</h2>

		</body>

</html>