<html>
    <head>
        <title>Users Ujian Praktikum Muhammad Afra Faris_1174041</title>
    </head>
    <body>
        <h1>Here are your users:_Afra_1174041</h1>
        <ol>
            {% for col in daftaruser %}
            <li>User Info
                <ul>
                    <li>First Name : {{ col.first_name }}</li>
                    <li>Last Name : {{ col.last_name }}</li>
                    <li>Email : {{col.email }}</li>
                </ul>
            </li>
            {% endfor %}
        </ol>
    </body>
</html>