<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User Ujian Praktikum_Bakti Qilan Mufid_1174083</title>
</head>

<body>
    <h1>
        Here are your users:_Bakti Qilan Mufid_1174083
    </h1>
    {% if user%}
    <ol>
        {% for users in User %}
        <li> User Info<br>
            <ul>
                <li>First Nama : {{users.first_name}}</li>
                <li>Last Nama : {{users.last_name}}</li>
                <li>Email : {{users.email}}</li>
            </ul>
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>

</html>