<!DOCTYPE html>
<html>
<head>
    <title>Users Ujian Praktikum ChandraKP_1174079</title>
</head>
    <body>
        <h1>Here are your users: _ChandraKP_1174079</h1>
        
        {% for video in allvideos %}
        <p>{{ video.id  }}. Users Info </p>
            <ul>
                <li>First Name : {{ video.first_name }}</li>
                <li>Last Name :{{ video.last_name }}</li>
                <li>Email : {{ video.Email }}</li>
            </ul>        
        {% endfor %}
    </body>
</html>