<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Users Ujian Praktikum Hagan_1174040</title>
    </head>
    <body>
        <ol>

        {% for col in daftar %}
        <li>User Info</li>
        <ul>
            <li>First Name : {{ col.first_name }}</li>
            <li>Last Name : {{ col.last_name }}</li>
            <li>Email Name : {{ col.email }}</li>
        </ul>
      {% endfor %}
      </ol>
    </body>
</html>