<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Users Ujian Praktikum Nurul Izza Hamka_1174062</title>
</head>
<body>
	<h1> Here are your users: _Nurul Izza Hamka_1174062</h1>
	{% if pengguna%}
	<ol>
		{% for pengguna in pengguna %}
		<li>User Info <br> 
		<ul>
			<ul>First Name : {{ pengguna.first_name }}</ul>
			<ul>Last Name : {{ pengguna.last_name }}</ul>
			<ul>Email : {{ pengguna.email }}</ul>
		</ul>
	</li>
		{% endfor %}
	</ol>
	{% endif %}

</body>
</html>