<!DOCTYPE html>
<html>
    <head>
        <title>Users Ujian Praktikum ALFADIAN_1174091</title>
    </head>
    <body>
        <h1>Here are your users:_ALFADIAN_1174091</h1>
        {% for info in allinfo %}
        <p>{{ Info.id  }}. Users Info </p>
            <ul>
                <li>First Name : {{ info.first_name }}</li>
                <li>Last Name :{{ Info.last_name }}</li>
                <li>Email : {{ Info.email }}</li>
            </ul>    
    {% endfor %}
    </body>
</html>