<!DOCTYPE html>
<html>
<head>
    <title>Users Ujian Praktikum MochamadArifqiRamadhan_1174074</title>
</head>
    <body>
        <h1>Here are your users:_MochamadArifqiRamadhan_1174074</h1>
        
        {% for video in allvideos %}
        <p>{{ video.id  }}. Users Info </p>
            <ul>
                <li>First Name : {{ video.first_name }}</li>
                <li>Last Name :{{ video.last_name }}</li>
                <li>email : {{ video.email }}</li>
            </ul>        
        {% endfor %}
    </body>
</html>